
<div id="divAutentificare">
    <form action="/verificare-autentificare" method="POST" class="verificareAutentificare">
            <input type="text" id="nume" name="nume" placeholder="Nume"/>
            <input type="password" id="parola" name="parola" placeholder="Parola"/>
        <input  class="button-3" type="submit" value="Autentificare"/>
        <span class="alert"><%- (mesaj !== undefined) ?  mesaj : "" -%></span>
    </form>
</div> 