<div>
    <% intrebari.forEach(element => { %>
        <input type="radio" id="huey" name="drone" value="huey">
        <label for="huey"> <%= element.intrebare %></label>
    <%  }); %>
  </div>

  <div>
    <input type="radio" id="dewey" name="drone" value="dewey">
    <label for="dewey">Dewey</label>
  </div>

  <div>
    <input type="radio" id="louie" name="drone" value="louie">
    <label for="louie">Louie</label>
</div>